<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.smb.bigbrother">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Firebase">
        <activity
            android:name=".annexe.Start"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity android:name=".Menu"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".foyer.perm.Foyer"/>
        <activity android:name=".foyer.perm.Demande"/>
        <activity android:name=".foyer.midi.Midi"/>
        <activity android:name=".foyer.midi.DemandeMidi"/>
        <activity android:name=".annexe.First"/>
        <activity android:name=".annexe.Maj"/>

    </application>

</manifest>